<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Balance</title>
</head>
<body>


<h3>Enter the details to complete a transaction.</h3>

<form action="#" th:action="@{/balance}"  method="post">

<p> ACCOUNT #: <input type="number" name="aNum"/></p>

    <input type="submit" value="Submit"/>
  </form>
   <!--  
   <div id= "form">
  <form action="#" th:action="@{/balance}" th:object="${transaction}" method="post">
    
   <p> ACCOUNT #: <input type="number" th:field="{accountNum}"/></p>
   
    <input type="submit" value="Submit"/>
    <p></p>
    
    
    
    
-->

Balance $<p th:text="${balance}"></p>


     <p> <a href="/bank">New Transaction</a></p>

</body>
</html>