<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Balance</title>
</head>
<body>


<h3>Enter the details to complete a transaction.</h3>
   <!--  
   <div id= "form">
  <form action="#" th:action="@{/balance}" th:object="${transaction}" method="post">
    
   <p> ACCOUNT #: <input type="number" th:field="*{accountNum}"/></p>
   
    <input type="submit" value="Submit"/>
    <p></p>
    
    
    
    
-->

<p th:text="${balance}">Balance</p>

</body>
</html>